<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    @media (hover: none) {
        .card-columns {
            column-count: 1;
        }
    }
    @media (hover: hover) {
        .card-columns {
            column-count: 5;
        }
    }
   </style>
</head>

<body>
    <div class="card-columns">
        {% if error %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Error</h5>
                <p class="card-text">{{ error }}</p>
            </div>
        </div>
        {% endif %}
        {% for i in items %}
        <div class="card text-center">
            <!--<img class="card-img-top" src="{{ i.galleryURL }}" alt="image">-->
            <div class="card-body">
                <h2 class="card-title">${{ i.price }} [{{ i.diff }}]</h2>
                <p class="card-text">{{ i.sellerInfo.sellerUserName }}</p>
                <p class="card-text">{{ i.sellerInfo.positiveFeedbackPercent }}% #{{ i.sellerInfo.feedbackScore }} @{{ i.location }}</p>
                <p class="card-text">{{ i.title }}</p>
                <a class="btn btn-info" href="{{ i.viewItemURL }}" target="_blank"> eBay link </a>
                <a class="btn btn-info" href="https://offer.ebay.com/ws/eBayISAPI.dll?MakeBid&item={{ i.itemId }}&fb=2" target="_blank"> Bid </a>
                <pre style="display:none;">{{ i.json }}</pre>
            </div>
        </div>
        
        {% endfor %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>
