<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .cards{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;            
        }
        .card{
            flex: 1 1 18rem;
        }
        .card-img-overlay{
            color: fuchsia;
        }
    </style>
</head>

<body>
    <div class="cards">
        {% if error %}
        <div class="card">
            <h5 class="card-header">Error</h5>
            <div class="card-body">
                <p class="card-text">{{ error }}</p>
            </div>
        </div>
        {% endif %}
        {% for i in items %}
        <div class="card text-center">
            <img class="card-img-top" src="{{ i.galleryURL }}" alt="image">
            <div class="card-img-overlay">
                <h3 class="card-title">${{ i.price }}</h3>
                <h3 class="card-text">[{{ i.diff }}]</h3>
            </div>
            <div class="card-body">
                <small>{{ i.title }}</small>
                <a href="{{ i.viewItemURL }}" class="btn btn-primary">ir</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>